.sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    height: 96vh;
    margin: 18px 0px 20px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sidebar__content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sidebar__header {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}


/* .sidebar__sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
} */

.sidebar__sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;
}

.sidebar__sidebar__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.sidebar__sidebar__link {
    width: 120px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
}

.sidebar__sidebar__link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}


/* .customize-accordion {
    background-color: #fff;
    padding-left: 10px;
    padding-bottom: 10px;
}

.customize-accordion-button {
    background-color: #18113c;
    color: white;
    border: none;
}

.customize-accordion-button:not(.collapsed) {
    background-color: #18113c;
    color: white;
}

.customize-accordion-button:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.customize-accordion-body {
    background-color: #181626;
} */


/* .customize-accordion-button::after {
    background-image: url(../images/down.svg);
}

.customize-accordion-button:not(.collapsed)::after {
    background-image: url(../images/up.svg);
} */